{% load static %}
<section class="pt-page pt-page-3" data-id="portfolio">
    <div class="section-title-block">
      <h2 class="section-title">Portfolio</h2>
      <h5 class="section-description">My Works</h5>
    </div>
  
    <!-- Portfolio Content -->
    <div class="portfolio-content">
      
      <!-- Portfolio filter -->
      <ul id="portfolio_filters" class="portfolio-filters">
        <li class="active">
          <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
        </li>
        <li>
          <a class="filter btn btn-sm btn-link" data-group="website">Web developement</a>
        </li>
        <li>
          <a class="filter btn btn-sm btn-link" data-group="flutter">Mobile app development</a>
        </li>
        <li>
          <a class="filter btn btn-sm btn-link" data-group="Whatsapp_chatbot">Whatsapp chatbot</a>
        </li>
        {% comment %} <li>
          <a class="filter btn btn-sm btn-link" data-group="open_source">Open source</a>
        </li> {% endcomment %}
      </ul>
      <!-- End of Portfolio filter -->
  
      <!-- Portfolio Grid -->
      <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

      <!-- Portfolio Item 1 -->
      <figure class="item" data-groups='["all", "website"]'>
        <a class="ajax-page-load" target="_blank" href="http://littlesigns.co.zw/">
          <img src="{% static 'images/portfolio/little_signs.png' %}" alt="Little Signs">
          <div>
            <h5 class="name">Little Signs</h5>
            <small>Technologies: Python, Django, PostgreSQL</small>
            <p>Lead full stack developer</p>
            <i class="fa fa-github"></i>
          </div>
        </a>
      </figure>
      <!-- /Portfolio Item 1 -->
  
        <!-- Portfolio Item 1 -->
        <figure class="item" data-groups='["all", "website"]'>
          <a class="ajax-page-load" target="_blank" href="https://fake-ecommerce-backend-api-34jn.vercel.app/docs">
            <img src="{% static 'images/portfolio/ecommerce.png' %}" alt="Fake E-commerce Backend API">
            <div>
              <h5 class="name">Fake E-commerce Backend API</h5>
              <small>Technologies: Python, FastAPI, PostgreSQL</small>
              <p>Developed a tool to expedite frontend development by simulating a backend environment.</p>
              <i class="fa fa-github"></i>
            </div>
          </a>
        </figure>
        <!-- /Portfolio Item 1 -->
  
        <!-- Portfolio Item 2 -->
        <figure class="item" data-groups='["all", "flutter"]'>
          <a class="ajax-page-load" target="_blank" href="https://pub.dev/packages/flutter_thingspeak">
            <img src="{% static 'images/portfolio/flutter_01.png' %}" alt="Flutter ThingSpeak Package">
            <div>
              <h5 class="name">Flutter ThingSpeak Package</h5>
              <small>Technologies: Dart, Flutter</small>
              <p>Developed a package for integrating IoT projects with the ThingSpeak platform.</p>
              <i class="fa fa-github"></i>
            </div>
          </a>
        </figure>
        <!-- /Portfolio Item 2 -->
  
        <!-- Portfolio Item 3 -->
        <figure class="item" data-groups='["all", "flutter"]'>
          <a class="ajax-page-load" target="_blank" href="https://play.google.com/store/apps/details?id=tech.atkudakwashe.kwikairtimerecharge&hl=en_IE">
            <img src="{% static 'images/portfolio/unnamed.webp' %}" alt="Kwik Airtime Recharge">
            <div>
              <h5 class="name">Kwik Airtime Recharge</h5>
              <small>Technologies: Dart, Flutter, Google ML Kit</small>
              <p>Designed an app for scanning airtime scratch cards using smartphone cameras.</p>
              <i class="fa fa-google-play"></i>
            </div>
          </a>
        </figure>
        <!-- /Portfolio Item 3 -->

        <figure class="item" data-groups='["all", "Whatsapp_chatbot"]'>
            <a class="ajax-page-load" target="_blank" href="https://www.mocash.co.zw/">
              <img src="{% static 'images/portfolio/mocash.png' %}" alt="MoCash Chatbot">
              <div>
                <h5 class="name">MoCash Chatbot</h5>
                <small>Technologies: Python, Django</small>
                <p>Developed a fintech chatbot</p>
                <i class="fa fa-github"></i>
              </div>
            </a>
        </figure>

        <figure class="item" data-groups='["all", "Whatsapp_chatbot"]'>
            <a class="ajax-page-load" target="_blank" href="https://github.com/kudah99/WABOT">
              <img src="{% static 'images/portfolio/1.jpg' %}" alt="Ballot Buddies Chatbot">
              <div>
                <h5 class="name">Ballot Buddies Chatbot</h5>
                <small>Technologies: Python, Django</small>
                <p>Developed a elections chatbot</p>
                <i class="fa fa-github"></i>
              </div>
            </a>
        </figure>
  
      </div>
      <!-- /Portfolio Grid -->
  
    </div>
    <!-- /Portfolio Content -->
  
  </section>